name: CI/CD
on: [push]
jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Setup .NET SDK
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: "8.x"
            - name: Restore
              run: dotnet restore --nologo
            - name: Build
              run: dotnet build --no-restore -c Release --nologo
            - name: Test
              run: dotnet test --no-restore --no-build -c Release -v normal --nologo
            - name: Publish
              run: dotnet pack ./src/BetterOutcome/BetterOutcome.csproj --nologo --no-restore --no-build -c Release -o ./publish
            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: publish
                  path: ./publish
    CD:
        runs-on: ubuntu-latest
        needs: CI
        if: startsWith(github.ref, 'refs/tags/')
        steps:
            - name: Download artifacts
              uses: actions/download-artifact@v4
              with:
                  name: publish
                  path: ./publish
            - name: Setup .NET SDK
              uses: actions/setup-dotnet@v3
              with:
                  dotnet-version: "8.x"
            - name: Push to NuGet
              run: dotnet nuget push ./publish/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
